@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
}

.notflixH {
    color: red;
    background-color: black;
    background-clip: padding-box;
    padding: 10px;
}

ul {
    margin: 0%;
    padding: 0%;
}

ul.popular {
    overflow: auto;
    white-space: nowrap;
}

li {
    display: inline-block;
    text-align: center;
}

#nav1 {
    display: inline;
    padding: 5px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 1px;
}
a:hover {
    background-color: rgb(44, 44, 44);
}

.pfp {
    float: right;
    width: 55px;
}

.pfp:hover {
    filter: brightness(50%);
}

.thumb:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.mylist {
@@ -64,4 +65,4 @@ a:hover {
    display: none;
  }

.thumb:-webkit-scrollbar {
    display: none;
  }

  
